.intro {
  color: rgba(231, 12, 12, 0.719);
  text-align: center;
  background-color: rgb(51, 48, 48);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin: 80px;
  font-style: italic;
  font-size: 27px;
  border: 2px solid red;
  padding: 10px;
  border-radius: 25px;
}
