.navbar {
  height: 90px;
  background: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-variant: small-caps;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.navbar-logo {
  color: rgb(248, 4, 4);
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
  height: 20px;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 10vh;
}

.nav-item a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  margin-right: 2rem;
  padding: 6px 16px;
  border-radius: 5px;
}

.nav-item a:hover {
  background: rgb(243, 5, 5);
}
